{% extends 'base.html.twig' %}

{% block title %}Création d'un compte{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Création d'un compte</h2>
            <div class="loginForm">
                {{ form_start(formRegistration) }}

                {{ form_label(formRegistration.username, "Pseudonyme :", {'label_attr': {'class': 'form-title'}}) }}
                <span class="red">*</span>
                {{ form_widget(formRegistration.username) }}
                {{ form_label(formRegistration.password, "Mot de passe :", {'label_attr': {'class': 'form-title'}}) }}
                <span class="red">*</span>
                {{ form_widget(formRegistration.password) }}
                {{ form_label(formRegistration.confirm_password, "Confirmer le mot de passe :", {'label_attr': {'class': 'form-title'}}) }}
                <span class="red">*</span>
                {{ form_widget(formRegistration.confirm_password) }}
                {{ form_label(formRegistration.email, "Adresse email :", {'label_attr': {'class': 'form-title'}}) }}
                <span class="red">*</span>
                {{ form_widget(formRegistration.email) }}
                {{ form_label(formRegistration.avatar, "Avatar : ",  {'label_attr': {'class': 'form-title'}}) }}
                <span class="red">*</span>
                {{ form_widget(formRegistration.avatar) }}

                <button type="submit" class="btn btn-primary">Enregistrer</button>

                {{ form_end(formRegistration) }}
            </div>
        </div>
    </div>
{% endblock %}
