{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ title }}</h1>
    </div>
    {% include '/shared/pagination.html.twig' with {
        'route': 'list_page'
    } %}
    <section class="list-group">
        {% for trick in tricks %}
            <div class="list-group">
                <a href="/trick/{{ trick.id }}" class="list-group-item active">
                    <h2>{{ trick.name }}</h2>
                </a>
                <div class="list-group-item">{{ trick.chapo | raw }}<br/>
                <a href="/trick/{{ trick.id }}">Lire la suite ...</a>
                </div>
                <img src="{{ trick.imageLink }}" alt="{{ trick.name }}"/>
                <p class="list-group-item">Créé par {{ trick.author.username }} || Catégorie : {{ trick.category.name }}
                </p>
            </div>
        {% endfor %}
    </section>
    {% include '/shared/pagination.html.twig' with {
        'route': 'list_page'
    } %}
{% endblock %}