{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div>
                {% if app.session.flashBag.has('notice') %}
                    <p class="red">
                        {% for msg in app.session.flashBag.get('notice') %}
                            {{ msg }}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="carousel" src="{{ asset('/img/banner/banner1.jpg')}}" alt="banner 1" />
                            <div class="carousel-caption">
                                <div class="black">
                                    <h1 class="titleBanner">Snowtricks</h1>
                                </div>
                                <a href="#tricks"><i class="fas fa-arrow-circle-down"></i></a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="carousel" src="{{ asset('/img/banner/banner2.jpg')}}" alt="banner 2" />
                            <div class="carousel-caption">
                                <h1 class="titleBanner">Snowtricks</h1>
                                <a href="#tricks"><i class="fas fa-arrow-circle-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for trick in tricks %}
            <div class="blocTricks">
                <div class="card mb-3 card-size">
                    <span class="tricks-anchor" id="tricks"></span>
                    <a href="/trick/{{ trick.slug }}" class="list-group-item active">
                        <h3 class="card-header">{{ trick.name }}</h3>
                    </a>
                    <img src="{{ asset('img/trickMainImage/' ~ trick.mainImageLink) }}" alt="{{ trick.name }}" class="imageTrickHome"/>
                    <div class="card-body">
                        <p class="card-text">
                            {{ trick.chapo | raw }}<br/>
                            <a href="/trick/{{ trick.slug }}">Lire la suite ...</a><br/>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Créé par <b>{{ trick.author.username }}</b>|| Catégorie : <b>{{ trick.category.name }}</b>
                            <div class="icone_right">
                            {% if app.user %}
                            <a href="/trick/{{ trick.id }}/edit"><i class="far fa-edit fa-1x"></i></a>
                                {% if app.user == trick.author %}
                                    <a href="/trick/{{ trick.id }}/delete" class="delete"
                                       data-confirm="Etes-vous sûr de vouloir supprimer ce Trick ? Cette action n'est pas réversible">
                                        <i class="fas fa-trash-alt fa"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="right">
            <a href="#top" class="up"><i class="fas fa-arrow-circle-up"></i></a>
        </div>
    </div>
    <div>
        {% include '/shared/pagination.html.twig' with {
            'route': 'home'
        } %}
    </div>
{% endblock %}
