{% extends 'base.html.twig' %}

{% block title %}
    {% if editMode %}
        Modification du trick
    {% else %}
        Création d'un trick
    {% endif %}
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pt10 pb10">
                {% if editMode %}
                    <h2>Modification du trick</h2>
                {% else %}
                    <h2>Création d'un trick</h2>
                    <p>Les champs suivi d'une <span class="red">*</span> sont obligatoires</p>
                {% endif %}
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% endif %}
            <div class="col-sm-2 col-md-5">
            {{ form_start(formTrick) }}
            {{ form_label(formTrick.name, "Nom :", {'label_attr': {'class': 'form-title'}}) }}<span class="red">*</span>
            {{ form_widget(formTrick.name) }}
            {{ form_label(formTrick.chapo, "Chapo : ", {'label_attr': {'class': 'form-title'}}) }}<span class="red">*</span>
            {{ form_widget(formTrick.chapo) }}
            {{ form_label(formTrick.chapo, "Decription :", {'label_attr': {'class': 'form-title'}}) }}<span class="red">*</span>
            {{ form_widget(formTrick.description) }}
            {{ form_label(formTrick.category, "Catégorie : ", {'label_attr': {'class': 'form-title'}}) }}<span class="red">*</span>
            {{ form_widget(formTrick.category) }}
            {% if editMode %}
                {% if app.user == trick.author %}
                    <p class="form-title">Image principale :<span class="red">*</span></p>
                    <div class="backgroundImage">
                        <img class="d-block w-100" src="{{ asset('img/trickMainImage/' ~ link) }}" alt="Image principale" />
                    </div>
                    {{ form_label(formTrick.mainImageLink, "Remplacer l'image principale") }}
                    {{ form_widget(formTrick.mainImageLink) }}
                {% else %}
                    <p class="form-title">Image principale :<span class="red">*</span></p>
                    <div class="backgroundImage">
                        <img class="d-block w-100" src="{{ asset('img/trickMainImage/' ~ link) }}" alt="Image principale" />
                    </div>
                    {% do formTrick.mainImageLink.setRendered %}
                {% endif %}
            {% else %}
                {{ form_label(formTrick.mainImageLink, "Image principale : ",  {'label_attr': {'class': 'form-title'}}) }}<span class="red">*</span>
                {{ form_widget(formTrick.mainImageLink) }}
            {% endif %}

{#            {% block collection_widget_video %}#}
{#                {% if editMode %}#}
{#                    {% do formTrick.videos.setRendered %}#}
{#                {% else %}#}
{#                    <p class="form-title"><u>Liens vers les vidéos :</u></p>#}
{#                    <p>Pour insérer une vidéo, merci de la poster sur Youtube et copier-coller le lien du type :#}
{#                        https://www.youtube.com/embed/[référence de la vidéo]<br/></p>#}
{#                    <div class="videos" data-prototype-video="{{ form_widget(formTrick.videos.vars.prototype, {'attr': {'placeholder': "https://www.youtube.com/embed/[référence de la vidéo]"}})|e('html_attr')}}">#}
{#                    </div>#}
{#                {% endif %}#}
{#                {% do formTrick.videos.setRendered %}#}
{#            {% endblock %}#}
            <div class="pt10 pb10">
                <button type="submit" class="btn btn-primary">
                {% if editMode %}
                    Enregistrer
                {% else %}
                    Créer le Trick
                {% endif %}
                </button>
            </div>
            {{ form_end(formTrick) }}
            </div>
        </div>
    </div>
    <input type="hidden" class="startIndex" value="{{ trick.images | length }}" />
{% endblock %}
