{% extends 'base.html.twig' %}

{% block title %}Création d'un trick{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Création d'un trick</h2>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Auteur: {{ app.user.username }}</p>
            {% endif %}
            <div class="col-sm-2 col-md-5">
            {{ form_start(formTrick) }}

            {{ form_label(formTrick.name, "Nom") }}
            {{ form_widget(formTrick.name) }}
            {{ form_label(formTrick.chapo, "Chapo") }}
            {{ form_widget(formTrick.chapo) }}
            {{ form_label(formTrick.chapo, "Decription") }}
            {{ form_widget(formTrick.description) }}
            {{ form_label(formTrick.category, "Catégorie") }}
            {{ form_widget(formTrick.category) }}
            {{ form_label(formTrick.mainImageLink, "Image principale") }}
            {{ form_widget(formTrick.mainImageLink) }}

            <div class="pt10 pb10">
                <button type="submit" class="btn btn-primary">
                {% if editMode %}
                    Enregistrer
                {% else %}
                    Créer le Trick
                {% endif %}
                </button>
            </div>

            {{ form_end(formTrick) }}
            </div>
        </div>
    </div>
{% endblock %}