{% extends 'base.html.twig' %}

{% block title %}Création d'un trick{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pt10 pb10">
                {% if editMode %}
                    <h2>Modification du trick</h2>
                {% else %}
                    <h2>Création d'un trick</h2>
                {% endif %}
            </div>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Auteur: {{ app.user.username }}</p>
            {% endif %}
            <div class="col-sm-2 col-md-5">
            {{ form_start(formTrick) }}

            {{ form_label(formTrick.name, "Nom") }}
            {{ form_widget(formTrick.name) }}
            {{ form_label(formTrick.chapo, "Chapo") }}
            {{ form_widget(formTrick.chapo) }}
            {{ form_label(formTrick.chapo, "Decription") }}
            {{ form_widget(formTrick.description) }}
            {{ form_label(formTrick.category, "Catégorie") }}
            {{ form_widget(formTrick.category) }}
            {{ form_label(formTrick.mainImageLink, "Image principale") }}
            {{ form_widget(formTrick.mainImageLink) }}

            {% block collection_widget_image %}
                <p>Autres images d'illustration</p>
                <div class="images" data-prototype-image="{{ form_widget(formTrick.images.vars.prototype)|e('html_attr') }}">
                </div>
            {% endblock %}
            {% block collection_widget_video %}
                <p>Liens vers les vidéos</p>
                <div class="videos" data-prototype-video="{{ form_widget(formTrick.videos.vars.prototype)|e('html_attr') }}">
                </div>
            {% endblock %}

            <div class="pt10 pb10">
                <button type="submit" class="btn btn-primary">
                {% if editMode %}
                    Enregistrer
                {% else %}
                    Créer le Trick
                {% endif %}
                </button>
            </div>
            {{ form_end(formTrick) }}
            </div>
        </div>
    </div>
{% endblock %}
