{% extends 'base.html.twig' %}

{% block title %}Création d'un trick{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Création d'un trick</h2>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Auteur: {{ app.user.username }}</p>
            {% endif %}
            {{ form_start(formTrick) }}

            {{ form_row(formTrick.name, {'label': 'Nom' }) }}
            {{ form_row(formTrick.chapo, {'label': 'Chapo' }) }}
            {{ form_row(formTrick.description, {'label': 'Description' }) }}
            {{ form_row(formTrick.category, {'label' : 'Catégorie'}) }}
            {{ form_row(formTrick.mainImageLink, {'label': 'Lien vers l\'image' }) }}

            <button type="submit" class="btn btn-primary">
                {% if editMode %}
                    Enregistrer
                {% else %}
                    Créer le Trick
                {% endif %}
            </button>

            {{ form_end(formTrick) }}
        </div>
    </div>
{% endblock %}