{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>{{ trick.name }}</h2>
            <div>Créé par {{ trick.author.username }}</div>
            <div>{{ trick.description | raw }}</div>
            <div>
                {% if trick.imageLink is not empty %}
                    <img src="{{ trick.imageLink }}" alt="{{ trick.name }}"/>
                {% endif %}
            </div>
            <p>Dernière modification par {{ trick.contributor.username }} le {{ trick.lastEditDate | date ('d/m/y à H:i') }} || Catégorie : {{ trick.category.name }}
            </p>
            {% include 'community/viewComments.html.twig' with {
                'id': id
                } %}
            <div>
                {% if app.user %}
                    <h4>Nouveau commentaire</h4>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <p>Auteur: {{ app.user.username }}</p>
                    {% endif %}

                    {{ form_start(formComment) }}

                    {{ form_row(formComment.text, {'label': 'Commentaire' }) }}

                    <button type="submit" class="btn btn-primary">Enregistrer</button>

                    {{ form_end(formComment) }}
                {% else %}
                    <h5>Il faut vous <a href="{{ path('security_login') }}">connecter</a> pour modifier le Trick ou insérer un commentaire.</h5>
                {% endif %}
            </div>
            {% if app.user %}
            <p class="pt10">
                <a href="/trick/{{ trick.id }}id}/edit">
                    <i class="far fa-edit fa-2x"></i>Modifier le Trick</a>
            </p>
            {% endif %}
            <p><a href="/">Retour</a></p>
        </div>
    </div>
{% endblock %}