<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css">
        <link  rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="https://kit.fontawesome.com/b325145257.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <span class="top-anchor" id="top"></span>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">SnowTricks</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_registration') }}">Créer un compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_login') }}">Se connecter</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_logout') }}">Se deconnecter</a>
                    </li>
                    {% endif %}
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('new_trick') }}">Créer un nouveau Trick</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('new_category') }}">Créer une nouvelle catégorie</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="jumbotron">
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="{{ asset("/scripts/showLink.js") }}"></script>
            <script src="{{ asset("/scripts/multipleFiles.js") }}"></script>
            <script src="{{ asset("/scripts/deleteConfirmation.js") }}"></script>
        {% endblock %}
    <div>
        {% include 'community/footer.html.twig' %}
    </div>
    </body>
</html>
